.login-container{
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 12px;
    background: rgba(207, 60, 31, 0.3);     
    backdrop-filter: blur(10px);            
    -webkit-backdrop-filter: blur(10px);     
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-family: Arial, sans-serif;
    color: #fff;


}

.login-container button{

    background-color:rgb(124, 231, 42) ;
    color:rgb(149, 30, 6);

}

.login-container button:hover {
    background-color: rgb(149, 30, 6);
    color: white;
  }

.login-container input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(177, 253, 118);
    color:rgb(149, 30, 6);
}

body.login-page{
    
    background-image: url('./images/rose1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

